/* ---------- BOX0 ---------- */
.box0 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


/* BOX01 */
.box01 {
    width: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
}


/* BOX02 */
.box02 h1,
span {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


/* BOX03 */
.box03 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* FORM */
input {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input {
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(226, 223, 223, 0.336);
}

input:focus {
    border: 10px solid black;
    border-radius: 20px;
}


/* BOX05 */
.box05 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


/* BOX06 */
.box06 {
    width: 120px;
    border: 1px solid black;
}


/* BOX07 */
.box07 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}



/* BOX09 */
.box09 {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* -------------------- */



/* ---------- BOX1 ---------- */
.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 999;
    top: 200px;
    left: 300px;
    display: none;
}

.show {
    display: block;
}

#popup_box_ok .box10 {
    background-color: rgb(15, 238, 71);
}

/* BOX11 */
.box11 {
    display: flex;
}


/* BOX13 */
.box13 {
    width: 800px;
}


/* BOX12 */
.box12 {
    background-color: white;
    border: 2px solid black;
    border-radius: 200px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

.box12:hover {
    transform: scale(1.20);
}

.box11 .box12 span {
    font-size: 20px;
}


/* BOX10 */
.box10 {
    width: 800px;
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    background-color: red;
}

.box10 span {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.box10 p {
    text-align: center;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}